In [2]:
rdd1=sc.parallelize([('Michael','329'),('Andy','330'),('吴利洪','134')])
df=rdd1.toDF(['name','stuid'])
df.show()

+-------+-----+
|   name|stuid|
+-------+-----+
|Michael|  329|
|   Andy|  330|
| 吴利洪|  134|
+-------+-----+

In [3]:
from pyspark.sql import Row
rdd=sc.parallelize([('Michael','329'),('Andy','300'),('吴利洪','134')])
df=spark.createDataFrame(rdd,['stuname','stuid'])
df.collect()

[Row(stuname='Michael', stuid='329'),
 Row(stuname='Andy', stuid='300'),
 Row(stuname='吴利洪', stuid='134')]

In [16]:
from pyspark.sql.types import *
rdd1=sc.parallelize([('Michael',29,73.5)])
schema = StructType([StructField('name',StringType(),False),
                     StructField('age',IntegerType(),True),
                     StructField('weight',FloatType(),True),])
df = rdd1.toDF(schema)
df.printSchema()

root
 |-- name: string (nullable = false)
 |-- age: integer (nullable = true)
 |-- weight: float (nullable = true)

In [17]:
rdd = sc.parallelize( [{'name': 'Alice', 'age': 25}])
spark.createDataFrame(rdd, "name:string,age:int").printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [27]:
rdd = sc.parallelize( [('Michael','329')])
spark.createDataFrame(rdd, "name: string, age: int").dtypes

[('name', 'string'), ('age', 'int')]

In [3]:
from pyspark.sql.types import *
rdd=sc.textFile("/exp05/emp.csv",1)
rdd1=rdd.map(lambda x:x.split(','))
def turn(list):
    r=[]
    for x in list:
        if x[6]=='':
            x[6]='0'
        r.append(x)
    return r
rdd2 = rdd1.mapPartitions(turn).map(lambda x:[int(x[0]),x[1],x[2],x[3],x[4],int(x[5]),int(x[6]),int(x[7])])                                   
schema = StructType([StructField('EMPNO',IntegerType(),True),
                  StructField("ENAME",StringType(),True),
                  StructField('JOB',StringType(),True),
                  StructField('MGR',StringType(),True),
                  StructField('HIREDATE',StringType(),True),
                  StructField('SAL',IntegerType(),True),
                  StructField('COMM',IntegerType(),True),
                  StructField('DEPTNO',IntegerType(),True)])
df=rdd2.toDF(schema)
df.collect()
df.printSchema()

[Row(EMPNO=7369, ENAME='WuLihong', JOB='CLERK', MGR='7902', HIREDATE='1980/12/17', SAL=800, COMM=0, DEPTNO=20),
 Row(EMPNO=7499, ENAME='ALLEN', JOB='SALESMAN', MGR='7698', HIREDATE='1981/2/20', SAL=1600, COMM=300, DEPTNO=30),
 Row(EMPNO=7521, ENAME='WARD', JOB='SALESMAN', MGR='7698', HIREDATE='1981/2/22', SAL=1250, COMM=500, DEPTNO=30),
 Row(EMPNO=7566, ENAME='JONES', JOB='MANAGER', MGR='7839', HIREDATE='1981/4/2', SAL=2975, COMM=0, DEPTNO=20),
 Row(EMPNO=7654, ENAME='MARTIN', JOB='SALESMAN', MGR='7698', HIREDATE='1981/9/28', SAL=1250, COMM=1400, DEPTNO=30),
 Row(EMPNO=7698, ENAME='BLAKE', JOB='MANAGER', MGR='7839', HIREDATE='1981/5/1', SAL=2850, COMM=0, DEPTNO=30),
 Row(EMPNO=7782, ENAME='CLARK', JOB='MANAGER', MGR='7839', HIREDATE='1981/6/9', SAL=2450, COMM=0, DEPTNO=10),
 Row(EMPNO=7788, ENAME='SCOTT', JOB='ANALYST', MGR='7566', HIREDATE='1987/4/19', SAL=3000, COMM=0, DEPTNO=20),
 Row(EMPNO=7839, ENAME='KING', JOB='PRESIDENT', MGR='', HIREDATE='1981/11/17', SAL=5000, COMM=0, DEPTNO=10),
 Row(EMPNO=7844, ENAME='TURNER', JOB='SALESMAN', MGR='7698', HIREDATE='1981/9/8', SAL=1500, COMM=0, DEPTNO=30),
 Row(EMPNO=7876, ENAME='ADAMS', JOB='CLERK', MGR='7788', HIREDATE='1987/5/23', SAL=1100, COMM=0, DEPTNO=20),
 Row(EMPNO=7900, ENAME='JAMES', JOB='CLERK', MGR='7698', HIREDATE='1981/12/3', SAL=950, COMM=0, DEPTNO=30),
 Row(EMPNO=7902, ENAME='FORD', JOB='ANALYST', MGR='7566', HIREDATE='1981/12/3', SAL=3000, COMM=0, DEPTNO=20),
 Row(EMPNO=7934, ENAME='MILLER', JOB='CLERK', MGR='7782', HIREDATE='1982/1/23', SAL=1300, COMM=0, DEPTNO=10)]

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: string (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- COMM: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)

In [5]:
spark.sql('select * from spark.dept134 limit 1').show()

+------+----------+--------+
|deptno|      name|location|
+------+----------+--------+
|    10|ACCOUNTING|NEW YORK|
+------+----------+--------+

In [6]:
rdd=sc.textFile("/exp05/dept.csv")
rdd1=rdd.map(lambda x:x.split(',')).map(lambda x:[int(x[0]),x[1],x[2]])
df=rdd1.toDF("DEPTNO:int,DNAME:string,LOC:string")
df.collect()
df.printSchema()

[Row(DEPTNO=10, DNAME='ACCOUNTING', LOC='NEW YORK'),
 Row(DEPTNO=20, DNAME='RESEARCH', LOC='DALLAS'),
 Row(DEPTNO=30, DNAME='SALES', LOC='CHICAGO'),
 Row(DEPTNO=40, DNAME='OPERATIONS', LOC='BOSTON')]

root
 |-- DEPTNO: integer (nullable = true)
 |-- DNAME: string (nullable = true)
 |-- LOC: string (nullable = true)

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
from pyspark.sql.types import *
rdd=sc.textFile("/exp05/taxi.csv")
rdd1=rdd.map(lambda line:line.split(','))
df=rdd1.toDF(['id','lat','lon','time'])
df.createOrReplaceTempView('taxi_view')
spark.sql("select * from taxi_view where id='5'").show(10)

+---+---------+----------+------+
| id|      lat|       lon|  time|
+---+---------+----------+------+
|  5|30.546826|104.053415|111512|
|  5|30.546835|104.052786|111522|
|  5|30.546841|104.051586|111602|
|  5|30.546848|104.054942|111454|
|  5|30.546853|104.054094|111502|
|  5|30.546855|104.052478|111552|
|  5|30.546859|104.058034|111403|
|  5| 30.54686|104.057516|111423|
|  5|30.546862|104.052629|111542|
|  5|30.546864|104.059257|111353|
+---+---------+----------+------+
only showing top 10 rows

In [4]:
from pyspark.sql.types import *
rdd=sc.textFile("/exp05/taxi.csv")
rdd1=rdd.map(lambda line:line.split(','))
df=rdd1.toDF(['id','lat','lon','time'])
df.createOrReplaceTempView('taxi_view')
spark.sql("select count(*) as amount from (select distinct id from taxi_view) ").show()

+------+
|amount|
+------+
|   384|
+------+

In [10]:
from pyspark.sql.types import *
rdd=sc.textFile("/exp05/taxi.csv")
rdd1=rdd.map(lambda line:line.split(','))
df=rdd1.toDF(['id','lat','lon','time'])
df.createOrReplaceTempView('taxi_view')
spark.sql("select count(id) from taxi_view where id='297'").show()

+---------+
|count(id)|
+---------+
|     2815|
+---------+

In [6]:
from pyspark.sql.types import *
rdd = sc.textFile('/exp05/book.txt')
rdd2 = rdd.map(lambda line:line.split(','))
rdd3=rdd2.map(lambda arr:[arr[0],arr[1],float(arr[2]),arr[3],arr[4],arr[5]])
schema = StructType([
StructField("seq", StringType(), True),
StructField("name", StringType(), True),
StructField("rating", FloatType(), True),
StructField("price", StringType(), True),
StructField("pub", StringType(), True),
StructField("url", StringType(),True)])
df =rdd3.toDF(schema)
df.createOrReplaceTempView('book134_view')
df.show(10)

+-----+---------------------------------+------+---------+------------------+--------------------+
|  seq|                             name|rating|    price|               pub|                 url|
+-----+---------------------------------+------+---------+------------------+--------------------+
| 5173| 動力取向精神醫學--臨床應用與實務|  10.0|   1200元|          心灵工坊|https://book.doub...|
| 9929|                       水彩绘森活|  10.0|     29.8|    人民邮电出版社|https://book.doub...|
|10124|殷周金文集成(修订增补本共8册)(精)|  10.0|2400.00元|          中华书局|https://book.doub...|
|16628|                     纸雕游戏大书|  10.0|  99.00元|      重庆出版集团|https://book.doub...|
|19103|                     Michelangelo|  10.0| $200.00 |           Taschen|https://book.doub...|
|20063|                一支笔的快乐涂鸦2|  10.0|     29.8|    人民邮电出版社|https://book.doub...|
|32781|                       亲亲宝贝装|  10.0|  28.00元|江西科学技术出版社|https://book.doub...|
|32879|                   Photoshop7解像|  10.0|  68.00元|        海洋出版社|https://book.doub...|
|45687|                 戚蓼生序本石头记|  10.0| 350.00元|    人民文学出版社|https://book.doub...|
|52504|                    宇宙兄弟（7）|  10.0|   JPY580|            講談社|https://book.doub...|
+-----+---------------------------------+------+---------+------------------+--------------------+
only showing top 10 rows

In [13]:
from pyspark.sql.types import *
rdd = sc.textFile('/exp05/book.txt')
rdd2 = rdd.map(lambda line:line.split(','))
rdd3=rdd2.map(lambda arr:[arr[0],arr[1],float(arr[2]),arr[3],arr[4],arr[5]])
schema = StructType([
StructField("seq", StringType(), True),
StructField("name", StringType(), True),
StructField("rating", FloatType(), True),
StructField("price", StringType(), True),
StructField("pub", StringType(), True),
StructField("url", StringType(),True)])
df =rdd3.toDF(schema)
df.createOrReplaceTempView('book134_view')
spark.sql("select count(name) from book134_view where name LIKE '%微积分%'").show()

+-----------+
|count(name)|
+-----------+
|         23|
+-----------+

In [31]:
from pyspark.sql.types import *
rdd = sc.textFile('/exp05/book.txt')
rdd2 = rdd.map(lambda line:line.split(','))
rdd3=rdd2.map(lambda arr:[arr[0],arr[1],float(arr[2]),arr[3],arr[4],arr[5]])
schema = StructType([
StructField("seq", StringType(), True),
StructField("name", StringType(), True),
StructField("rating", FloatType(), True),
StructField("price", StringType(), True),
StructField("pub", StringType(), True),
StructField("url", StringType(),True)])
df =rdd3.toDF(schema)
df.createOrReplaceTempView('book134_view')
spark.sql("select seq,name,rating from book134_view where name LIKE'%艺术%'\
          and rating>=9 and rating<=9.5 order by rating desc ").show(10)

+-----+---------------------------+------+
|  seq|                       name|rating|
+-----+---------------------------+------+
|12224|                 艺术的故事|   9.5|
|  341|               UNIX编程艺术|   9.5|
|41142|        凡﹒高-世界艺术巨匠|   9.5|
|  344|计算机程序设计艺术（第1卷）|   9.5|
|52872|                 暴雪的艺术|   9.5|
| 5506|    詹森艺术史（插图第7版）|   9.4|
|31285|         世界艺术大师：德加|   9.4|
|  175|计算机程序设计艺术（第2卷）|   9.4|
|16664|           和孩子一起玩艺术|   9.4|
|   83|计算机程序设计艺术（第1卷）|   9.3|
+-----+---------------------------+------+
only showing top 10 rows

In [41]:
from pyspark.sql.types import *
rdd = sc.textFile('/exp05/book.txt')
rdd2 = rdd.map(lambda line:line.split(','))
rdd3=rdd2.map(lambda arr:[arr[0],arr[1],float(arr[2]),arr[3],arr[4],arr[5]])
schema = StructType([
StructField("seq", StringType(), True),
StructField("name", StringType(), True),
StructField("rating", FloatType(), True),
StructField("price", StringType(), True),
StructField("pub", StringType(), True),
StructField("url", StringType(),True)])
df =rdd3.toDF(schema)
df.createOrReplaceTempView('book134_view')
spark.sql("select pub,count(*) as amount from book134_view group by pub order by amount desc ").show(10)

+----------------------+------+
|                   pub|amount|
+----------------------+------+
|        人民文学出版社|  1437|
|        上海译文出版社|  1426|
|              中华书局|  1278|
|            东立出版社|  1223|
|生活·读书·新知三联书店|  1105|
|        北京大学出版社|   948|
|            译林出版社|   934|
|            商务印书馆|   917|
|        上海人民出版社|   829|
|    广西师范大学出版社|   726|
+----------------------+------+
only showing top 10 rows

In [50]:
from pyspark.sql.types import *
rdd = sc.textFile('/exp05/book.txt')
rdd2 = rdd.map(lambda line:line.split(','))
rdd3=rdd2.map(lambda arr:[arr[0],arr[1],float(arr[2]),arr[3],arr[4],arr[5]])
schema = StructType([
StructField("seq", StringType(), True),
StructField("name", StringType(), True),
StructField("rating", FloatType(), True),
StructField("price", StringType(), True),
StructField("pub", StringType(), True),
StructField("url", StringType(),True)])
df =rdd3.toDF(schema)
df.createOrReplaceTempView('book134_view')
spark.sql("select avg(Rating) as AvgOfArtbook from book134_view where name LIKE'%艺术%'").show()

+-----------------+
|     AvgOfArtbook|
+-----------------+
|8.454914568835854|
+-----------------+

In [52]:
from pyspark.sql.types import *
rdd = sc.textFile('/exp05/book.txt')
rdd2 = rdd.map(lambda line:line.split(','))
rdd3=rdd2.map(lambda arr:[arr[0],arr[1],float(arr[2]),arr[3],arr[4],arr[5]])
schema = StructType([
StructField("seq", StringType(), True),
StructField("name", StringType(), True),
StructField("rating", FloatType(), True),
StructField("price", StringType(), True),
StructField("pub", StringType(), True),
StructField("url", StringType(),True)])
df =rdd3.toDF(schema)
df.createOrReplaceTempView('book134_view')
spark.sql("select avg(Rating) as AvgOfArtbook from book134_view \
where exists (select name,Rating from book134_view where name LIKE'%艺术%')").show()

+-----------------+
|     AvgOfArtbook|
+-----------------+
|8.543648599012247|
+-----------------+

In [19]:
from pyspark.sql.types import *
rdd = sc.textFile('/exp05/book.txt')
rdd2 = rdd.map(lambda line:line.split(','))
rdd3=rdd2.map(lambda arr:[arr[0],arr[1],float(arr[2]),arr[3],arr[4],arr[5]])
schema = StructType([
StructField("seq", StringType(), True),
StructField("name", StringType(), True),
StructField("rating", FloatType(), True),
StructField("price", StringType(), True),
StructField("pub", StringType(), True),
StructField("url", StringType(),True)])
df =rdd3.toDF(schema)
df.createOrReplaceTempView('book134_view')
spark.sql("select pub,max(Rating) as Rating from book134_view group by pub order by Rating desc").show()

+------------------+------+
|               pub|Rating|
+------------------+------+
|          心灵工坊|  10.0|
|            講談社|  10.0|
|          中华书局|  10.0|
|      重庆出版集团|  10.0|
|    人民邮电出版社|  10.0|
|江西科学技术出版社|  10.0|
|        海洋出版社|  10.0|
|           Taschen|  10.0|
|    人民文学出版社|  10.0|
|        商务印书馆|   9.9|
|    台湾尖端出版社|   9.9|
|    山东文艺出版社|   9.9|
|     HarperCollins|   9.9|
|McGraw-HillMedical|   9.9|
|            赤々舎|   9.9|
|              青文|   9.9|
|    机械工业出版社|   9.9|
|       StMartinsPr|   9.9|
|    上海古籍出版社|   9.9|
|                ""|   9.9|
+------------------+------+
only showing top 20 rows

In [17]:
from pyspark.sql.types import *
rdd = sc.textFile('/exp05/book.txt')
rdd2 = rdd.map(lambda line:line.split(','))
rdd3=rdd2.map(lambda arr:[arr[0],arr[1],float(arr[2]),arr[3],arr[4],arr[5]])
schema = StructType([
StructField("seq", StringType(), True),
StructField("name", StringType(), True),
StructField("rating", FloatType(), True),
StructField("price", StringType(), True),
StructField("pub", StringType(), True),
StructField("url", StringType(),True)])
df =rdd3.toDF(schema)

df.createOrReplaceTempView('book134')
df_134=spark.sql("select pub,max(Rating) as Rating from book134 group by pub order by Rating desc")
df_134.createOrReplaceTempView('Max')
df_result=spark.sql("select  book134.seq,book134.name,Max.pub,Max.Rating from book134,Max \
                    Where book134.pub=Max.pub \
                    And book134.Rating=Max.Rating \
                    order by Rating desc")
df_result.write.format("csv").save("/home/hadoop/best-134/")

In [21]:
df=spark.read.csv('/home/hadoop/best-134')
rdd=spark.createDataFrame(df.rdd)
df=rdd.toDF('seq','name','pub','Rating')
df.createOrReplaceTempView('book134_view')
spark.sql('select * from book134_view where name like "%艺术%" order by rating desc').show(10)

+-----+------------------------------------+------------------------------------+------+
|  seq|                                name|                                 pub|Rating|
+-----+------------------------------------+------------------------------------+------+
|  343|         计算机程序设计艺术（第3卷）|                      国防工业出版社|   9.8|
|19040|                          巴洛克艺术|                  北京美术摄影出版社|   9.8|
|  173|计算机程序设计艺术第2卷半数值算法...|                      清华大学出版社|   9.7|
|16482|       我的第一本艺术游戏书（全2册）|                      光明日报出版社|   9.7|
| 9918|                          幻想的艺术|                  上海人民美术出版社|   9.6|
| 8282|                          艺术的故事|                      广西美术出版社|   9.6|
|52872|                          暴雪的艺术|                    北京联合出版公司|   9.5|
|31285|                  世界艺术大师：德加|                      河北美术出版社|   9.4|
|19308|                        江南理景艺术|东南大学出版社（南京东南大学出版社）|   9.2|
|12636|                          艺术家手册|          凤凰传媒集团江苏美术出版社|   9.1|
+-----+------------------------------------+------------------------------------+------+
only showing top 10 rows